* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none; }

a {
  color: inherit;
  text-decoration: none; }

html {
  font-size: 62.5%; }

body {
  font: 1.4rem "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0;
  background: #D9DBD5; }

ul {
  list-style: none; }

.users {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh; }
  .users__box {
    width: 30rem;
    border-radius: .5rem;
    background-color: white;
    padding-top: 2rem; }
  .users__title {
    padding: 0 2rem 2rem 2rem;
    border-bottom: 0.1rem solid rgba(64, 70, 80, 0.1); }
  .users__item {
    padding: 1.5rem 2rem;
    font-size: 1.6rem;
    cursor: pointer; }
    .users__item:hover {
      background-color: rgba(64, 70, 80, 0.1); }

.chat {
  background: #D9DBD5;
  display: flex;
  padding: 2rem;
  height: 100vh;
  overflow: hidden;
  color: white; }
  .chat__wrapper {
    border-radius: .5rem;
    display: flex;
    flex: 1;
    overflow: hidden; }
  .chat__body {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #404650; }
  .chat__sidebar {
    width: 25rem;
    background-color: white; }
  .chat__title {
    font-size: 2.1rem;
    padding: 2rem;
    background-color: #6666E2;
    min-height: 6.4rem; }
  .chat__listWrapper {
    list-style: none; }
  .chat__listItem {
    font-size: 1.6rem;
    font-weight: bold;
    color: black;
    padding: 2rem;
    border-bottom: 0.1rem solid rgba(64, 70, 80, 0.1); }
    .chat__listItem:hover {
      background-color: rgba(41, 45, 68, 0.1);
      cursor: pointer; }
    .chat__listItem--isActive {
      background-color: rgba(41, 45, 68, 0.1);
      cursor: pointer; }
  .chat__inputWrapper {
    display: flex;
    background-color: #1e202f;
    padding: 2rem;
    margin-top: auto; }
  .chat__input {
    background-color: white;
    min-height: 4rem;
    padding: 2rem;
    color: black;
    flex: 1;
    word-wrap: break-word;
    width: 25rem;
    max-height: 15rem;
    overflow: auto;
    border-radius: .2rem; }
  .chat__sendButton {
    background: transparent;
    color: #f50057;
    font-weight: bold;
    border: none;
    margin: 2rem;
    cursor: pointer;
    font-size: 1.6rem; }
  .chat__topBar {
    font-size: 2.1rem;
    padding: 2rem;
    background-color: #6666E2;
    border-left: 0.1rem solid rgba(64, 70, 80, 0.2);
    min-height: 6.4rem; }
  .chat__messagesWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    padding: 2rem;
    background-color: #292d44;
    overflow: auto; }
  .chat__message {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    flex-shrink: 0; }
    .chat__message--right {
      align-self: flex-end; }
      .chat__message--right:hover .chat__menu {
        opacity: 1;
        visibility: visible; }
      .chat__message--right .chat__messageContent {
        background-color: #1f2130; }
      .chat__message--right .chat__dots {
        left: 1rem; }
      .chat__message--right .chat__menu {
        right: auto;
        left: -5.3rem; }
        .chat__message--right .chat__menu:before {
          left: auto;
          right: -1.2rem;
          border-right-color: transparent;
          border-left-color: white; }
  .chat__username {
    color: white;
    z-index: 1;
    font-weight: bold;
    margin-top: 1rem;
    cursor: pointer; }
  .chat__messageContent {
    position: relative;
    color: white;
    margin-top: 1rem;
    font-size: 1.3rem;
    background-color: #f50057;
    border-radius: 3rem;
    padding: 1.33333rem 2rem; }
  .chat__dots {
    position: absolute;
    right: 1rem;
    top: 0;
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    cursor: pointer; }
  .chat__dot {
    background-color: white;
    width: .3rem;
    height: .3rem;
    margin: .15rem 0;
    border-radius: 50%; }
  .chat__menu {
    position: absolute;
    background-color: white;
    border-radius: .3rem;
    top: 0;
    right: -5.3rem;
    color: black;
    opacity: 0;
    visibility: hidden; }
    .chat__menu:before {
      content: '';
      position: absolute;
      top: 1.5rem;
      left: -1.2rem;
      width: 0;
      height: 0;
      border: .7rem solid transparent;
      border-right-color: white; }
  .chat__menuItem {
    cursor: pointer;
    padding: .5rem 1rem; }
    .chat__menuItem:hover {
      background-color: rgba(41, 45, 68, 0.1); }
    .chat__menuItem:not(:last-of-type) {
      margin-bottom: .5rem; }
  .chat__rightBar {
    position: relative;
    background-color: white;
    width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .chat__rightBarPic {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
  .chat__rightBarName {
    color: black; }
  .chat__rightBarClose {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    color: black;
    cursor: pointer; }
  .chat__middle {
    display: flex;
    flex: 1; }
  .chat .editing {
    background: #6666E2;
    padding: 2px; }
