$defaultPadding: 2rem;
$sidebarWidth: 25rem;
$color-red: #f50057;
$color-messageWrapper: #292d44;
$color-inputWrapper: #1e202f;
$chatColor: #D9DBD5;
$chatBodyColor: #404650;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}
a {
  color: inherit;
  text-decoration: none;
}
html {
  font-size: 62.5%;
}
body {
  font: 1.4rem "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0;
  background: $chatColor;
}
ul {
  list-style: none;
}
.users {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;

  &__box {
    width: 30rem;
    border-radius: .5rem;
    background-color: white;
    padding-top: 2rem;
  }
  &__title {
    padding: 0 2rem 2rem 2rem;
    border-bottom: .1rem solid rgba(#404650, .1);
  }
  &__item {
    padding: 1.5rem 2rem;
    font-size: 1.6rem;
    cursor: pointer;

    &:hover {
      background-color: rgba(#404650, .1);
    }
  }
}
.chat {
  background: $chatColor;
  display: flex;
  padding: $defaultPadding;
  height: 100vh;
  overflow: hidden;
  color: white;

  &__wrapper {
    border-radius: .5rem;
    display: flex;
    flex: 1;
    overflow: hidden;
  }
  &__body {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: $chatBodyColor;
  }
  &__sidebar {
    width: $sidebarWidth;
    background-color: white;
  }
  &__title {
    font-size: 2.1rem;
    padding: $defaultPadding;
    background-color: #6666E2;
    min-height: 6.4rem;
  }
  &__listWrapper {
    list-style: none;
  }
  &__listItem {
    font-size: 1.6rem;
    font-weight: bold;
    color: black;
    padding: $defaultPadding;
    border-bottom: .1rem solid rgba($chatBodyColor, .1);

    &:hover {
      background-color: rgba($color-messageWrapper, .1);
      cursor: pointer;
    }
    &--isActive {
      background-color: rgba($color-messageWrapper, .1);
      cursor: pointer;
    }
  }
  &__inputWrapper {
    display: flex;
    background-color: $color-inputWrapper;
    padding: $defaultPadding;
    margin-top: auto;
  }
  &__input {
    background-color: white;
    min-height: 4rem;
    padding: $defaultPadding;
    color: black;
    flex: 1;
    word-wrap: break-word;
    width: 25rem;
    max-height: 15rem;
    overflow: auto;
    border-radius: .2rem;
  }
  &__sendButton {
    background: transparent;
    color: $color-red;
    font-weight: bold;
    border: none;
    margin: $defaultPadding;
    cursor: pointer;
    font-size: 1.6rem;
  }
  &__topBar {
    font-size: 2.1rem;
    padding: $defaultPadding;
    background-color: #6666E2;
    border-left: .1rem solid rgba($chatBodyColor, .2);
    min-height: 6.4rem;
  }
  &__messagesWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    padding: $defaultPadding;
    background-color: $color-messageWrapper;
    overflow: auto;
  }
  &__message {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    flex-shrink: 0;

    &--right {
      align-self: flex-end;

      &:hover {
        .chat__menu {
          opacity: 1;
          visibility: visible;
        }
      }
      .chat__messageContent {
        background-color: #1f2130;
      }
      .chat__dots {
        left: 1rem;
      }
      .chat__menu {
        right: auto;
        left: -5.3rem;

        &:before {
          left: auto;
          right: -1.2rem;
          border-right-color: transparent;
          border-left-color: white;
        }
      }
    }
  }
  &__username {
    color: white;
    z-index: 1;
    font-weight: bold;
    margin-top: 1rem;
    cursor: pointer;
  }
  &__messageContent {
    position: relative;
    color: white;
    margin-top: 1rem;
    font-size: 1.3rem;
    background-color: $color-red;
    border-radius: 3rem;
    padding: $defaultPadding/1.5 $defaultPadding;
  }
  &__dots {
    position: absolute;
    right: 1rem;
    top: 0;
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  &__dot {
    background-color: white;
    width: .3rem;
    height: .3rem;
    margin: .15rem 0;
    border-radius: 50%;
  }
  &__menu {
    position: absolute;
    background-color: white;
    border-radius: .3rem;
    top: 0;
    right: -5.3rem;
    color: black;
    opacity: 0;
    visibility: hidden;

    &:before {
      content: '';
      position: absolute;
      top: 1.5rem;
      left: -1.2rem;
      width: 0;
      height: 0;
      border: .7rem solid transparent;
      border-right-color: white;
    }
  }
  &__menuItem {
    cursor: pointer;
    padding: .5rem 1rem;

    &:hover {
      background-color: rgba($color-messageWrapper, .1);
    }
    &:not(:last-of-type) {
      margin-bottom: .5rem;
    }
  }
  &__rightBar {
    position: relative;
    background-color: white;
    width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__rightBarPic {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  &__rightBarName {
    color: black;
  }
  &__rightBarClose {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    color: black;
    cursor: pointer;
  }
  &__middle {
    display: flex;
    flex: 1;
  }
  .editing {
    background: #6666E2;
    padding: 2px;
  }
}
